:host {
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0
}

.dropdown-menu {
    position: absolute;
    right: 1.45rem;
    border: 1px white;
}

.dropdown-item {
    text-align: center;
}

.dropdown-menu:active {
    border:2px solid #0275d8;
}

.bootstrap-select{ border: 1px solid red}

.search-bar {
    margin: 0 auto;
}

.unit-toggle {
    font-size: .8rem;
    min-height: 1.25rem;
}


