<div class="container-fluid bg-tran" style="width:100%">
    <div class="row py-5 justify-content-between">
        <!-- <div class="col-1"></div> -->
        <div class="col-3 px-4 align-self-end align-items-center">
            <div style="color:white; font-size: 2rem;">
                <h1> {{theWeather.theCity}}, {{theWeather.theState}}
                    <small>{{theWeather.theCountry}}</small></h1>
            </div>
        </div>
        <div class="col-4 align-self-end align-items-center jusify-content-end">
            <div style="color:white">
               <h1>{{theWeather.theFormattedDateString}} {{theWeather.theTime}}</h1> 
            </div>
        </div>
    </div>
</div>