<div *ngIf="isLoaded" class="container bg-tran">
    <div class="row py-6 justify-content-space-evenly align-items-baseline">
        <div class="col-6 text-end" style="color:white; font-size: 2rem;">
            <h1 class="text-right">
                {{theWeather.theCity}}, {{theWeather.theState}}
                <small>{{theWeather.theCountry}}</small>
            </h1>
        </div>
        <div class="col-auto text-start" style="color:white; font-size: 1.75rem;">
            <small>{{theWeather.theFormattedDateString}} {{theWeather.theTime}}</small>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col text-center" style="color: white; font-size: 1rem;">
            <b>Last updated: </b><small>{{getLocalTime()}}</small>
        </div>
    </div>
    <div class="row pt-4 justify-content-center">
        <div class="col-4 align-self-center text-center" style="color:white; font-size: 3rem;">
            <img [src]="theWeather.theIconPath" class="weather-icon img-fluid" alt="Weather Icon">
            {{theWeather.theCurrentTemperature}}°F
        </div>
    </div>
    <div class="container justify-content-center">
        <div class="container text-center" style="color:white; font-size: 1.25rem">
            {{theWeather.theDescription}}
        </div>
    </div>
</div>