.weather-icon {
    width: 4rem;
    height: 4rem;
}

.icon-bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.sun-icon {
    width: 6rem;
    height: 3rem;
}