<div class="bg-random" [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(' + value + ')'}">
    <!-- <img [src]="backgroundImageStyle" class="img-fluid bg-random" alt="background-image"> -->
</div>


<!-- <img [src]="backgroundImageStyle" class="img-fluid bg-random" alt="background-image"> -->

<!-- [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(' + value + ')'}" -->

<!-- [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(changeBackground()}" -->

<!-- [style]="backgroundImageStyle"  -->