<div *ngIf="isLoaded" class="bg-random fade-in"
[ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(' + this.message + ')'}">
    <!-- <img [src]="backgroundImageStyle" class="img-fluid bg-random" alt="background-image"> -->
</div>


<!-- <img [src]="backgroundImageStyle" class="img-fluid bg-random" alt="background-image"> -->

<!-- *********** WORKING *************-->
<!-- [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(' + value + ')'}" -->
<!-- ********************************* -->

<!-- [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(changeBackground()}" -->

<!-- [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({{getBackground()}}'}" -->

<!-- [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(' + getBackground() + ')'}"> -->

<!-- [style]="backgroundImageStyle"  -->


